/*
ARCHON ADVENTURE MAKER

--- Main definition of styles
 */
/* Main menu height variable definition */
:root {
    --menuHeight: 125px; --leftPanelWidth: 0px; --rightPanelWidth: 0px; --viewportHeight: calc(100vh - var(--menuHeight)); }

* {
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: 'VT323', monospace;
    background-color: #222;
    margin: 0;
    padding: 0;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

a {
    color: Yellow;
    text-decoration: none;
    outline: none;
}

a.link {
    font-size: 2em;
    padding-left: 10px;
    padding-right: 10px;
    transition: .5s;
}

a.link:hover {
    background-color: rgba(255,255,255,.25);
}

/*
--- Help classes for UI
 */
.hidden {
    display: none !important;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 5px;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.torch {
    margin-top: 40px;
}

.width-50p {
    width: 50px !important;
}

.width-75p {
    width: 60px !important;
}

.width-100p {
    width: 100px !important;
}

.width-150p {
    width: 150px !important;
}

.width-200p {
    width: 200px !important;
}

.width-300p {
    width: 300px !important;
}

.full-width {
    width: 100%;
}

.list-overflow {
    height: 200px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/*
--- UI elements styles
 */
.ui-widget {
    font-family: VT323, Georgia,Verdana,Arial,sans-serif;
    font-size: 1em;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: VT323, Georgia,Verdana,Arial,sans-serif;
    font-size: 1em;
}

div.ui-progressbar div.label {
    display: inline-block;
    position: absolute;
    color: #ffd700;
    right: 10px;
    top: -.05em;
    text-shadow: 0 0 5px black;
    z-index: 10;
}

label {
    display:inline-block;
}

fieldset {
    display: inline-block;
    border: #444 solid 1px;
    margin: 5px 5px;
    padding: 5px;
}

fieldset.nolegend {
    display: inline-block;
    border: none;
    margin: 5px 5px;
    padding: 15px;
}

.ui-selectmenu-button {
    margin-bottom: 10px;
}

.ui-inputline {
    padding: .3em;
    margin-bottom: 10px;
}

ul.selectList {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.selectList li.item {
    display: block;
    padding: 5px;
    transition: 0.5s;
    border-radius: 5px;
    cursor: pointer;
    border: rgba(0,0,0,0) solid 1px;
    border-bottom: #222 dotted 1px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul.selectList li.label {
    display: block;
    padding: 5px;
    border-radius: 0;
    border: rgba(0,0,0,0) solid 1px;
    border-top: #222 solid 1px;
    background-color: #222;
    font-weight: bold;
}

ul.selectList li.item span {
    float: right;
    background-color: rgba(0,0,0,.5);
    border-radius: 5px;
    padding: 2px 5px;
}

ul.selectList li.item:hover {
    background: #222;
    border-bottom: #444 dotted 1px;
}

ul.selectList li.item.select {
    padding-left: 15px;
    font-weight: bold;
    background: linear-gradient(180deg, rgba(0,0,0,0),#096ac8);
    border: #096ac8 solid 1px;
    box-shadow: 0 0 5px #096ac8;
}

.ui-corner-all {
    border-radius: 0;
}

.ui-dialog {
    box-shadow: 0 0 15px black;
    border: none;
    padding: 0;
    margin: 0;
    background-position: center -20px
}

.ui-dialog.ui-widget.ui-widget-content {
    border: none;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    height: 1.5em;
}

.ui-button-icon-only {
    min-width: 1em;
}

.ui-dialog .ui-dialog-titlebar .ui-button {
    padding: 0;
    margin: 0;
    width: 1em;
    transition: .2s;
    background: none;
    border: none;
}

.ui-dialog .ui-dialog-titlebar .ui-button:hover {
    display: inline-block;
    background-color: #444;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close {
    margin: 0;
    padding: 0;
    height: 1em;
    top: .2em;
    right: 2px;
    float: right;
    background: none;
    border: none;
    color: #444;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close:hover {
    background-color: red;
    color: #FFF;
}

.ui-dialog .ui-dialog-titlebar > span {
    display: inline-block;
    position: absolute;
    top: .2em;
    width: auto;
    padding-left: .5em;
    padding-right: .5em;
}

.ui-dialog .ui-dialog-titlebar-menu {
    display: inline-block;
    /*     position:absolute; */
    float: left;
    top: .2em;
    left: 2px;
    margin: -0.3em 0 0 0;
    padding: 0;
    width: 1em;
    height: 1em;
}

.ui-dialog .ui-dialog-buttonpane {
    border: none;
    background-color: #111;
}

/*	overlay for context-menu & dialog-menu	*/
.menu-overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 900;
    background-color: rgba(0,0,0,.25);
}

.menu-overlay.about {
    background-color: rgba(0,0,0,.25);
}

/*	Context menu class	*/
.context-menu {
    z-index: 1000;
    position: absolute;
    box-shadow: 5px 5px 10px black;
    cursor: pointer;
    width: 170px;
    height: 78px;
}

/*	Dialog menu class	*/
.dialog-menu {
    z-index: 1000;
    position: absolute;
    box-shadow: 5px 5px 10px black;
    cursor: pointer;
}

/*
--- Content menu container definition
 */
#menu-content {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: var(--menuHeight);
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: none;
    border-radius: 0;
}

#menu-content .ui-tabs-anchor {
    margin: 0;
    padding: 5px 10px;
}

#menu-content .ui-tabs-panel {
    margin: 0;
    padding: 0;
}

#menu-content .ui-tabs-panel div.group {
    display: inline-block;
}

/*

*/

/*	container for loader	*/
#LOADER_APP {
    display:block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color:#222222;
    z-index:29999;
}

#LOADER_APP #title {
    margin-top: 50vh;
    margin-left: 50vw;
    width: 270px;
    height: 105px;
    transform: translate(-135px,-52.5px);
}
#LOADER_APP #loader {
    position:fixed;
    margin-top:60vh;
    margin-left:50vw;
    width:200px;
    transform: translate(-100px,0);
    text-align:center;
    color:yellow;
}

/*
--- Application container definition
*/
#AAM_APP {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index:1;
}

/* Title container */
#title {
    display: block;
    position: fixed;
    transform: translate(0,10px);
    background-image: url('aa-title.png');
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 100%;
    z-index: 10;
}

#title > span {
    color: White;
    font-weight: bold;
    display: block;
    margin-top: 75px;
    text-align: right;
    font-size: 1.2em;
    text-shadow: 0 0 5px black;
    transition: 1s;
}

/*	container for application	*/
#AAM_APP #title {
    right: 20px;
    top: 0;
    width: 270px;
    transition: 1s;
}

#AAM_APP #title > div#about {
    display: block;
    height: 0;
    opacity: 0;
    color: #000;
    transition: 1s;
    overflow: hidden;
    text-align: center;
}

#AAM_APP #title.about {
    right: 50vh;
    top: 50vh;
    width: 545px;
    transform: translate(-136.25px,-160px);
    transition: 1s;
    z-index: 10000;
}

#AAM_APP #title.about > span {
    margin-top: 150px;
    font-size: 2em;
}

#AAM_APP #title.about > div#about {
    display: block;
    height: 225px;
    color: #fff;
    transition: 1s;
    opacity: 1;
    background-color: rgba(0,0,0,.5);
    border-top: #222 solid 2px;
    border-bottom: #222 solid 2px;
    border-radius: 0;
}

#AAM_APP #viewport {
    display: block;
    position:fixed;
    top:var(--menuHeight);
    width:100vw;
    height:var(--viewportHeight);
}


/*

*/
div.dockPanel {
    display: block;
    position: fixed;
    top: var(--menuHeight);
    height: var(--viewportHeight);
    background-color: #111111;
}

div.dockPanel.left {
    left: 0;
    width: var(--leftPanelWidth);
    border-right: #000 solid 2px;
}

div.dockPanel.right {
    left: calc(100vw - var(--rightPanelWidth));
    width: var(--rightPanelWidth);
    border-left: #000 solid 2px;
}


/*
---- Global Worlds Service Dialog
*/
#dlg-globalWorlds {
    padding: 0;
    margin: 0;
}

#dlg-globalWorlds ul#data-header {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#dlg-globalWorlds ul#data-header li {
    display: block;
    padding: 5px;
}

#dlg-globalWorlds ul#data-header li span.field {
    display: inline-block;
    margin: 0 5px;
    border-bottom: #444 solid 1px;
    text-align: center !important;
}

/* */
#dlg-globalWorlds ul#gws-list {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#dlg-globalWorlds ul#gws-list li.item {
    display: block;
    transition: 0.5s;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border-bottom: #222 dotted 1px;
}

#dlg-globalWorlds ul#gws-list li.item:hover {
    background-color: #222;
    border-bottom: #444 dotted 1px;
}

/* */
#dlg-globalWorlds ul li span.field {
    display: inline-block;
    margin: 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#dlg-globalWorlds ul li span.field.filename {
    width: 250px;
}

#dlg-globalWorlds ul li span.field.version {
    width: 75px;
    text-align: right;
}

#dlg-globalWorlds ul li span.field.locationsCount {
    width: 100px;
    text-align: center;
}

#dlg-globalWorlds ul li span.field.userNick {
    width: 120px;
}

#dlg-globalWorlds ul li span.field.userCountry {
    width: 180px;
}

/*
---- Object in Location Dialog
*/
#dlg-objectLocation {
    padding: 0;
    margin: 0;
}

#dlg-objectLocation ul#list {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#dlg-objectLocation ul#list li.item {
    display: block;
    transition: 0.5s;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: rgba(0,0,0,0) solid 1px;
    border-bottom: #222 dotted 1px;
}

#dlg-objectLocation ul#list li.item:hover {
    background-color: #222;
    border-bottom: #444 dotted 1px;
}

#dlg-objectLocation ul#list li.item.select {
    padding-left: 15px;
    /*	font-weight:bold; */
    background: linear-gradient(180deg, rgba(0,0,0,0),#096ac8);
    border: #096ac8 solid 1px;
    box-shadow: 0 0 5px #096ac8;
}

/* */
#dlg-objectLocation ul li span.field {
    display: inline-block;
    margin: 0 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#dlg-objectLocation ul li span.field.objectID {
    width: 20px;
}

#dlg-objectLocation ul li span.field.objectName {
    width: 175px;
}

#dlg-objectLocation ul li span.field.objectType {
    width: 75px;
    text-align: right;
}

/*
----
*/
div[id^="object-edit-"] {
    margin: 0;
    padding: 5px !important;
}

/*
---- styles for object items list
*/
ul.innerList {
    display: inline-block;
    width: 100%;
    height: 200px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    overflow-y: scroll;
    border: #444 solid 1px;
}

ul.innerList li.command {
    display: block;
    padding: 5px;
    border-radius: 0;
    cursor: pointer;
    border: rgba(0,0,0,0) solid 1px;
    border-top: #222 solid 1px;
    font-weight: bold;
    background-color: #444;
}

ul.innerList li.item {
    display: block;
    transition: 0.5s;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: rgba(0,0,0,0) solid 1px;
    border-bottom: #222 dotted 1px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul.innerList li.item:hover {
    background-color: #222;
    border-bottom: #444 dotted 1px;
}

ul.innerList li.item.select {
    padding-left: 15px;
    font-weight: bold;
    background: linear-gradient(180deg, rgba(0,0,0,0),#096ac8);
    border: #096ac8 solid 1px;
    box-shadow: 0 0 5px #096ac8;
}

ul.innerList span {
    display: inline-block;
    margin: 0 5px;
}

ul.innerList span.objID {
    width: 20px;
    text-align: center;
}

ul.innerList span.name {
}

span.button {
    float: right;
    top: .2em;
    left: -.2em;
    transition: 0.5s;
    cursor: pointer;
}

span.button:hover {
    float: right;
    top: .2em;
    background-color: #444;
}

/*
----
*/
#scroll-tabs {
    border: none;
}

#scroll-tabs .ui-tabs-nav {
    border: none;
    background: none;
}

#scroll-tabs .ui-tabs-anchor {
    margin: 0;
    padding: 10px 5px;
}

#scroll-tabs .ui-tabs-panel {
    margin: 0;
    padding: 10px 0 0;
}

#scroll-tabs .ui-tabs-panel div.group {
    display: inline-block;
}

