/*

*/

#dlg-mapCharacters {
    padding: 0;
    margin: 0;
}

#dlg-mapCharacters canvas {
    padding: 0;
}

#dlg-mapCharacters canvas.tilesSet {
    z-index:0;
    position:absolute;
    top:5px;
    left:0px;
}

#dlg-mapCharacters canvas#help {
    z-index:1;
    position:absolute;
    top:5px;
    left:0px;
}
/*

 */
#charsSet .ui-tabs {
    padding: 0;
    margin: 0;
}
#charsSet.ui-widget.ui-widget-content {
    background: none;
    border: none;
}

#charsSet .ui-tabs.ui-widget.ui-widget-content {
    background: none;
    border: none;
}

#charsSet .ui-tabs-nav {
    background: none;
    border: none;
}

#charsSet .ui-tabs-anchor {
    margin: 0;
    padding:10px 5px;
}

#charsSet .ui-tabs-panel {
    position:relative;
    margin: 0;
    padding: 0;
}