/*
----
*/
#dlg-generalClassification {
    padding: 0;
    margin: 0;
}

#dlg-generalClassification #group-tabs {
    border: none;
    padding: 0;
    background-position: center -10px;
}

#dlg-generalClassification #group-tabs .ui-tabs-nav {
    border: none;
    background: none;
}

#dlg-generalClassification #group-tabs .ui-tabs-anchor {
    margin: 0;
    padding: 10px 5px;
}

#dlg-generalClassification #group-tabs .ui-tabs-panel {
    margin: 0;
    padding: 0;
    height: 408px;
    overflow: hidden;
}

#dlg-generalClassification #group-tabs .ui-tabs-panel div.group {
    display: inline-block;
}

/*

*/
#dlg-generalClassification ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#dlg-generalClassification div.table {
    display:block;
    width:100%;
    /*background-color:#000;*/
}
#dlg-generalClassification ul#list {
    height: 368px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#dlg-generalClassification ul#list li {
    display: block;
    transition: 0.5s;
    border-radius: 5px;
    cursor:default;
    border: rgba(0,0,0,0) solid 1px;
    border-bottom: #222 dotted 1px;
}

#dlg-generalClassification ul#list li:hover {
    background: #222;
    border-bottom: #444 dotted 1px;
}

#dlg-generalClassification ul#list li.select {
    padding-left: 15px;
    font-weight: bold;
    background: linear-gradient(180deg, rgba(0,0,0,0),#096ac8);
    border: #096ac8 solid 1px;
    box-shadow: 0 0 5px #096ac8;
}

#dlg-generalClassification ul li .field {
    padding: 5px 5px;
    display: inline-block;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#dlg-generalClassification ul li .field.editable:hover {
    cursor: pointer;
    background-color: #444;
}

#dlg-generalClassification ul#header {
    display:block;
    margin-top: 5px;
    border-bottom: #333 solid 1px;
}

#dlg-generalClassification ul#header span {
    background: none !important;
    cursor: default;
}

/*
    tables fields definitions
 */

/*#dlg-generalClassification ul li .field span.value {}*/
#dlg-generalClassification ul li .field.tile { width: 48px; }
#dlg-generalClassification ul li .field.name { width: 175px; }
#dlg-generalClassification ul li .field.mode { width: 75px; }
#dlg-generalClassification ul li .field.Force { width: 60px; text-align: center; }
#dlg-generalClassification ul li .field.Speed { width: 60px; text-align: center; }
#dlg-generalClassification ul li .field.Interval { width: 60px; text-align: center; }
#dlg-generalClassification ul li .field.Duration { width: 80px; text-align: center; }
#dlg-generalClassification ul li .field.side { width: 60px; text-align: center; }
#dlg-generalClassification ul li .field.lifespan { width: 80px; text-align: center; }
#dlg-generalClassification ul li .field.range { width: 60px; text-align: center; }
#dlg-generalClassification ul li .field.armament { width: 190px; text-align: left; }
#dlg-generalClassification ul li .field.armament span.value span { display:block; }
#dlg-generalClassification ul li .field.health { width: 80px; text-align: center; }
#dlg-generalClassification ul li .field.damage { width: 80px; text-align: center; }
#dlg-generalClassification ul li .field.defense { width: 80px; text-align: center; }
#dlg-generalClassification ul li .field.dexterity { width: 90px; text-align: center; }
#dlg-generalClassification ul li .field.maxDamage { width: 100px; text-align: center; }
#dlg-generalClassification ul li .field.fightBack { width: 100px; text-align: center; }

.col-red { color: #ff6363; }
.col-green { color: #884; }
.col-blue { color: #75abff; }
.col-yellow { color: #b8860b; }

div.stats.ui-progressbar {
    transition: 0.5s;
    position: relative;
    height: 1em !important;
    background: #000000;
    border: #096ac86e solid 1px;
}

div.stats.ui-progressbar > div.ui-progressbar-value {
    background: #096ac8 none !important;
    border: none;
    position: absolute;
    top: 0;
    height: 1em;
    z-index: 5;
    transition:.5s;
}

/* yellow stats bar */
div.stats.yellow.ui-progressbar {
    position: relative;
    height: 1em !important;
    background: #000000;
    border-color: #b8860b80;
}

div.stats.yellow.ui-progressbar > div.ui-progressbar-value {
    background: none;
    background-color: #b8860b !important;
    border: none;
    position: absolute;
    top: 0;
    height: 1em;
    z-index: 5;
}

/* green stats bar */
div.stats.green.ui-progressbar {
    position: relative;
    height: 1em !important;
    background: #000000;
    border-color: #66772280;
}

div.stats.green.ui-progressbar > div.ui-progressbar-value {
    background: none;
    background-color: #667722 !important;
    border: none;
    position: absolute;
    top: 0;
    height: 1em;
    z-index: 5;
}

/* red stats bar */
div.stats.red.ui-progressbar {
    position: relative;
    height: 1em !important;
    background: #000000;
    border-color: #b80b0b80;
}

div.stats.red.ui-progressbar > div.ui-progressbar-value {
    background: none;
    background-color: #b80b0b !important;
    border: none;
    position: absolute;
    top: 0;
    height: 1em;
    z-index: 5;
}

.mini-input {
    padding: 0;
    margin: 0;
    border: none;
    background-color: #666;
    color: Yellow;
}