/*
---- Map editor container definition
*/
#map-content {
    display: block;
    transition: .3s;
    position: relative;
    left: var(--leftPanelWidth);
    right: var(--rightPanelWidth);
    width: calc(100vw - var(--rightPanelWidth) - var(--leftPanelWidth));
    height: calc(100vh - var(--menuHeight));
    overflow: auto;
}

/* map layer canvas */
#map-content canvas#mapCanvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    cursor: crosshair;
}

/* character grid layer canvas */
#map-content canvas#charGridCanvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 6;
    cursor: crosshair;
}

/* screen limit grid layer canvas */
#map-content canvas#gridCanvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 7;
    cursor: crosshair;
}
