/*
*/
div#dlg-locations {
    padding: 0;
    margin: 0;
}

/*
---- Class definition for Tiles list dialog
*/
div#dlg-Tiles {
    padding: 0;
    margin: 0;
}

/* class for tiles group container */
.tiles-group {
    margin-top: 50px;
}

/* tile item class container */
.tiles {
    display: inline-block;
    position: relative;
    width: 200px;
    text-align: center;
    padding: 5px;
    transition: .5s;
    border-radius: 10px;
    border: rgba(0,0,0,0) solid 1px;
    cursor: pointer;
    overflow: hidden;
}

.tiles:hover {
    background-color: #222;
}

/*	selected item in tile list dialog	*/
.tiles.select {
    border: #096ac8 solid 1px;
    box-shadow: 0 0 5px #096ac8;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0), #096ac8);
}

/*	tile name for item in tile list dialog	*/
.tiles > span {
    display: block;
    color: yellow;
    margin-bottom: 5px;
}

/*	assigned shortcut key for item in tile list dialog	*/
.tiles > div.key {
    display: block;
    position: absolute;
    right: 5px;
    bottom: 3px;
    width: 20px;
    height: 22px;
    font-size: 1em;
    text-align: center;
    border: #444 solid 1px;
    color: #444;
    border-radius: 50%;
    overflow: hidden;
}

/*	class for group select list-box	*/
.fixed-groupSelect {
    position: fixed;
    z-index: 100;
}

/*	class for user tile preview dialog	*/
.preview-tile {
    display: block;
    width: 512px;
    height: 300px;
    overflow: auto;
    text-align: center;
}
